:root {
	--light-green: #ecffe7;
	--dark-blue-font: rgb(0, 1, 48);
}

body {
	background-color: var(
		--light-green
	); /* Black or dark background helps with reflection contrast */
	color: var(--dark-blue-font); /* White or light-colored font */
}
html {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

/* Additional styles for buttons, layout, and finish screen */
button {
	padding: 10px 20px;
	margin: 10px;
	font-size: 16px;
	border: none;
	border-radius: 10px;
	cursor: pointer;
	background-color: #4caf50;
	color: white;
	transition: background-color 0.3s;
}

button:hover {
	background-color: #388e3c;
}

input,
select {
	margin: 5px;
	padding: 5px;
	font-size: 16px;
}

label {
	margin-right: 10px;
}

#frogPreview {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	border: 2px dashed #3c763d;
}

#learnMoreBtn {
	background-color: #009688;
}

#learnMoreBtn:hover {
	background-color: #00796b;
}
/* .h100vh{
  height: 100vh;
} */
.align {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: 4.3rem;
}
/*                    FONTS                   */

.heading-main {
	font-family: "Bagel Fat One", system-ui;
	font-weight: 400;
	font-style: normal;
}
.text {
	font-family: "scomic";
	font-size: 3rem;
}
@font-face {
	font-family: "scomic";
	src: url("FONTS/madernscomic-webfont.woff") format("woff");
	font-weight: normal;
	font-style: normal;
}
